body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    scroll-behavior: smooth;
    font-weight: 500;
    max-width: 100%;
}

header {
    background-color: #ffa200;
    color: #fff;
    height: 80%;
    margin-top: 0%;
    margin-right: -20px;
    margin-bottom: 0%;
    margin-left: -20px;
}

footer {
    background-color: #ffa200;
    margin-top: 0px;
    margin-right: -20px;
    margin-bottom: -20px;
    margin-left: -20px;
}

nav ul li {
    display: inline-block;
}

h1  {
    font-family: 'Satisfy', cursive;
    margin-top: -130px;
    font-size: 3em;
}

h2,h3,h4  {
    font-family: 'Satisfy';
    color: #ffa200 ;
    font-size: 2em;
    margin-top: 15px;
    letter-spacing: 0.04em;
    max-width: 100%;
}

a   {
    font-family: 'Satisfy';
    color: white ;
    font-size: 1.4em;
}

a:hover {
    color: whitesmoke;
    font-size: 1.4em; 
}

#logo {
    height: 180px;
    width: auto;
    position: relative;
    right: 350px;
    top: -35px;
}

header, section {
    padding: 5% 0% 0px 5% ;
}

.whitelink {
    color: #fff;
}

.active {
    color: #ffa200;
    background-color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.nounderline {
    text-decoration: none;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    cursor: pointer;
}

main {
    font-size: 1.1em;
    line-height: 2em;
}

p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

nav ul li {
    float: center;
}

/* Home */
#spotify {
    padding-bottom: 50px ;
    margin-right: 3%;
}

#singer {
    border: solid;
    border-color: #1adefd;
    border-radius: 0%;
    border-left: 100%;
    align-content: right;
    margin-right: 3%;
}

#singer:hover {
    border: dotted;
    border-color: #1adefd;
    background-color: #b6f1fa;
}

#tramonto:hover {
    width: 300px;
}

#spiaggia:hover {
    width: 300px;
}

#Festival:hover {
    width: 300px;
}

#tramonto {
    height: 400px;
    width: auto;
}

#spiaggia {
    height: 400px;
    width: auto;
}

#Festival {
    height: 400px;
    width: auto;
}

/* Servizi */

#piadina {
    border-style: dotted solid;
    border-width: thick;
    border-color: #ffa200;
    border-radius: 12px;
    padding: 0rem;
    background-color: #ffa20060;
    height: 20%;
    margin-top: 20%;
}

#piadina::first-letter {
    font-size: 2em;
    color: #ffa200;
    text-transform: uppercase;
}

#navetta {
    border-style: dotted solid;
    border-width: thick;
    border-color: #ffa200;
    border-radius: 12px;
    padding: -5rem;
    background-color: #ffa20060;
    height: 10%;
    margin-top: 6%;
}

#navetta::first-letter {
    font-size: 2em;
    color: #ffa200;
    text-transform: uppercase;
}

#food {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 4%;
}

#bus {
    margin-top: 0%;
    margin-right: 2%;
    margin-bottom: 1%;
}
.carousel {
    margin: 15%;
    padding-top: -20px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    max-width: 100%;
    max-height: 100%;
} 


/* Tickets */
#standard,#vip,#experience {
    margin-bottom: 100px;
    max-width: 100%;
}

#romagna,#gatto,#alluvione { 
    height: 250px;
    width: auto;
    max-width: 100%;
    border: dotted 5px;
    border-radius: 50%;
    border-color: #ffa200;
    margin-bottom: 10%;
}


/* Info */

#mappaluogo {
    height: 40%;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

#luogo {
    height: 400px;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

#scalettavenerdì {
    height: 600px;
    width: auto;
    max-width: 100%;
}

#scalettasabato {
    height: 600px;
    width: auto;
    max-width: 100%;
}

#scalettadomenica {
    height: 600px;
    width: auto;
    max-width: 100%; 
}

/* shop */
#adesivi {
    height: 250px;
    width: auto;
    max-width: 100%;
}

#T-shirt {
    height: 250px;
    width: auto;
    max-width: 100%;
}

#cover {
    height: 250px;
    width: auto;
    max-width: 100%;
}

#infradito {
    height: 250px;
    width: auto;
}

#borraccia {
    height: 250px;
    width: auto;
}

#costume {
    height: 250px;
    width: auto;
}

#pantaloncini {
    height: 250px;
    width: auto;
}

#t-shirt {
    height: 250px;
    width: auto;
}

#cappellino {
    height: 250px;
    width: auto;
}
/* Documntazione */

#tabellacompetitors {
    height: 350px;
    width: auto;
    max-width: 100%;
}

#architetturasito {
    height: 300px;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

#wireframehome {
    height: 400px;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

#wireframeinfo {
    height: 400px;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

#wireframetickets {
    height: 400px;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

#wireframeservizi {
    height: 400px;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

#wireframeshop {
    height: 400px;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

#instagramdocumentazione {
    height: 500px;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

#volantinodocumentazione {
    height: 500px;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

#valutazionerisultati {
    height: 300px;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}